name: initiate

on:
  workflow_dispatch:

jobs:
  initialize:
    runs-on: "ubuntu-latest"
    steps:
      - name: restapi-init 
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws cloudformation describe-stacks --stack-name merchant-api --region eu-north-1 | jq length
          API_STATUS=$?

          if [[ $API_STATUS == 1 ]]
          then
            echo "rest api running, no action"
          else
            echo "rest api is not running, execute"
            #exit 1
          fi
      - name: webapp-init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws cloudformation describe-stacks --stack-name merchant-webapp --region eu-north-1 | jq length
          WEBAPP_STATUS=$?

          if [[ $WEBAPP_STATUS == 1 ]]
          then
            echo "web app is running, no action"
          else
            echo "web app is not running, execute"
            #exit 1
          fi
