name: initiate-apps

on:
  workflow_dispatch:

jobs:
  initialize:
    runs-on: "ubuntu-latest"
    steps:
      - name: restapi-init
        uses: actions/checkout@latest
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TOKEN_KEY: ${{ secrets.DISTANCE_API_KEY }}
          STORE_COORDS: ${{ secrets.MERCHANT_COORDS }}
          MERCHANT_HOSTS: ${{ secrets.ACCEPTED_ORIGINS }}
          MERCHANT_STACK: ${{ secrets.MERCHANT_STACK }}
        run: |
          aws cloudformation describe-stacks --stack-name $MERCHANT_STACK --region eu-north-1 | jq length
          API_STATUS=$?

          if [[ $API_STATUS == 1 ]]
          then
            echo "rest api running, no action"
          else
            echo "rest api is not running, execute"

            aws cloudformation deploy --stack-name $MERCHANT_STACK \
              --template-body file://trading-partner.yaml \
              --capabilities CAPABILITY_IAM \
              --region eu-north-1
              --parameters \
                ParameterKey=TokenKey,ParameterValue=$TOKEN_KEY \
                ParameterKey=MerchantHosts,ParameterValue=$MERCHANT_HOSTS \
                ParameterKey=StoreCoords,ParameterValue=$STORE_COORDS

            REST_API_ID=$(aws cloudformation describe-stacks --stack-name test-lambda --query \
              "Stacks[0].Outputs[?OutputKey=='RestAPIID'].OutputValue" --output text)

            aws apigateway create-deployment --rest-api-id $REST_API_ID --stage-name prod \
              --region eu-north-1
          fi
      - name: webapp-init
        needs:
        uses: actions/checkout@latest
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          WEBAPP_STACK: ${{ secrets.WEBAPP_STACK }}
        run: |
          aws cloudformation describe-stacks --stack-name $WEBAPP_STACK--region eu-north-1 | jq length
          WEBAPP_STATUS=$?

          if [[ $WEBAPP_STATUS == 1 ]]
          then
            echo "web app is running, no action"
          else  
            aws cloudformation deploy --stack-name $WEBAPP_STACK \
              --template-body file://react-cfn.yaml \
              --capabilities CAPABILITY_IAM \
              --region eu-north-1

            CLOUDFRONT_URL=$(aws cloudformation describe-stacks --stack-name $WEBAPP_STACK --query \
              "Stacks[0].Outputs[?OutputKey=='CloudFrontURL'].OutputValue" --output text)             
            
            echo "NEW_HOST=$CLOUDFRONT_URL" >> "$GITHUB_ENV"
          fi
      - name: update-accepted-hosts
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}yy
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TOKEN_KEY: ${{ secrets.DISTANCE_API_KEY }}
          STORE_COORDS: ${{ secrets.MERCHANT_COORDS }}
          MERCHANT_HOSTS: ${{ secrets.ACCEPTED_ORIGINS }}
          MERCHANT_STACK: ${{ secrets.MERCHANT_STACK }}
        run: |
          HOSTS="$MERCHANT_HOSTS\,$NEW_HOST"
          aws cloudformation update-stack --stack-name $MERCHANT_STACK \
            --template-body file://trading-partner.yaml \
            --capabilities CAPABILITY_IAM \
            --region eu-north-1
            --parameters \
              ParameterKey=TokenKey,ParameterValue=$TOKEN_KEY \
              ParameterKey=MerchantHosts,ParameterValue="$HOSTS" \
              ParameterKey=StoreCoords,ParameterValue=$STORE_COORDS
      - name: update-client-secret
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}yy
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          MERCHANT_STACK: ${{ secrets.MERCHANT_STACK }}
          WEBAPP_STACK: ${{ secrets.WEBAPP_STACK }}
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: |
          gh secret set WEBAPP_STACK --repo Koji-Sunioj/trading-grid --body "$WEBAPP_STACK"
          gh secret set MERCHANT_STACK --repo Koji-Sunioj/trading-grid --body "$MERCHANT_STACK" 
