name: initiate-apps

on:
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TOKEN_KEY: ${{ secrets.DISTANCE_API_KEY }}
  STORE_COORDS: ${{ secrets.MERCHANT_COORDS }}
  MERCHANT_HOSTS: ${{ secrets.ACCEPTED_ORIGINS }}
  MERCHANT_STACK: ${{ secrets.MERCHANT_STACK }}
  WEBAPP_STACK: ${{ secrets.WEBAPP_STACK }}
  GITHUB_TOKEN: ${{ secrets.TOKEN }}

jobs:
  check-status:
    runs-on: "ubuntu-latest"
    steps:
      - run: |
          set +e
          aws cloudformation describe-stacks --stack-name $MERCHANT_STACK --region eu-north-1 \
            --no-cli-pager 2>/dev/null
        
          API_STATUS=$? 
         
          aws cloudformation describe stacks --stack-name $WEBAPP_STACK --region eu-north-1 \
            --no-cli-pager 2>/dev/null
          
          WEBAPP_STATUS=$?

          echo "WEBAPP_STATUS=$WEBAPP_STATUS" >> "$GITHUB_ENV"
          echo "API_STATUS=$API_STATUS" >> "$GITHUB_ENV"
  initialize-rest-api:
    needs: check-status
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        #- name: initiate
      - run: |
          if [[ $API_STATUS == 0 ]]
          then
            echo "rest api running, no action"
          else
            echo "rest api is not running, execute"

            aws cloudformation deploy --stack-name $MERCHANT_STACK \
              --template-file trading-partner.yaml --capabilities CAPABILITY_IAM \
              --region eu-north-1 --parameter-overrides \
              TokenKey=$TOKEN_KEY \
              MerchantHosts=$MERCHANT_HOSTS \
              StoreCoords=$STORE_COORDS  

            REST_API_ID=$(aws cloudformation describe-stacks --stack-name $MERCHANT_STACK \
              --query "Stacks[0].Outputs[?OutputKey=='RestAPIID'].OutputValue" \
              --output text --region eu-north-1)

            aws apigateway create-deployment --rest-api-id $REST_API_ID --stage-name prod \
              --region eu-north-1
          fi
  initialize-webapp:
    needs: initialize-rest-api
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - run: |
          if [[ $WEBAPP_STATUS == 0 ]]
          then
            echo "web app is running, no action"
          else  
            aws cloudformation deploy --stack-name $WEBAPP_STACK \
              --template-file react-cfn.yaml --capabilities CAPABILITY_IAM \
              --region eu-north-1

            #CLOUDFRONT_URL=$(aws cloudformation describe-stacks --stack-name $WEBAPP_STACK --query \
            #  "Stacks[0].Outputs[?OutputKey=='CloudFrontURL'].OutputValue" \
            #  --output text --region eu-north-1)             
            
            #echo "NEW_HOST=$CLOUDFRONT_URL" >> "$GITHUB_ENV"
          fi
  clean-up:
    needs: initialize-webapp
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - name: update-accepted-hosts
        run: |
          CLOUDFRONT_URL=$(aws cloudformation describe-stacks --stack-name $WEBAPP_STACK --query \
              "Stacks[0].Outputs[?OutputKey=='CloudFrontURL'].OutputValue" \
              --output text --region eu-north-1)             
              
          echo $CLOUDFRONT_URL
              
          HOSTS="$MERCHANT_HOSTS\,$CLOUDFRONT_URL"

          aws cloudformation deploy --stack-name $MERCHANT_STACK \
            --template-file trading-partner.yaml --capabilities CAPABILITY_IAM \
            --region eu-north-1 --parameter-overrides \
              TokenKey=$TOKEN_KEY \
              MerchantHosts=$HOSTS \
              StoreCoords=$STORE_COORDS --debug
      - name: update-client-secret
        run: |
          gh secret set WEBAPP_STACK --repo Koji-Sunioj/trading-grid --body "$WEBAPP_STACK"
          gh secret set MERCHANT_STACK --repo Koji-Sunioj/trading-grid --body "$MERCHANT_STACK"
