name: initiate-apps

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  MERCHANT_STACK: ${{ secrets.MERCHANT_STACK }}
  WEBAPP_STACK: ${{ secrets.WEBAPP_STACK }}
  GITHUB_TOKEN: ${{ secrets.TOKEN }}
  MERCHANT_PARAMS: ${{ secrets.MERCHANT_PARAMS }}
  MERCHANT_USER: ${{ secrets.MERCHANT_USER }}

jobs:
  deploy-rest-api:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - run: |
          aws cloudformation deploy --stack-name $MERCHANT_STACK \
            --template-file trading-partner.yaml --capabilities CAPABILITY_IAM \
            --region eu-north-1 --parameter-overrides \
            MerchantParams=$MERCHANT_PARAMS
  deploy-webapp:
    needs: deploy-rest-api
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - run: |
          aws cloudformation deploy --stack-name $WEBAPP_STACK \
            --template-file react-cfn.yaml --capabilities CAPABILITY_IAM \
            --region eu-north-1
  clean-up:
    needs: deploy-webapp
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - name: update-api-gateway
        run: |
          CREATED_STACKS=$(aws cloudformation describe-stacks --query "Stacks[?StackName=='$WEBAPP_STACK'||StackName=='$MERCHANT_STACK']" \
            --region eu-north-1 --no-cli-pager | jq length)

          if [[ $CREATED_STACKS == 2 ]]
          then
            REST_API_ID=$(aws cloudformation describe-stacks --stack-name $MERCHANT_STACK \
              --query "Stacks[0].Outputs[?OutputKey=='RestAPIID'].OutputValue" \
              --output text --region eu-north-1)

            aws apigateway create-deployment --rest-api-id $REST_API_ID --stage-name prod \
              --region eu-north-1

          else
            echo "both required stacks do not exist"
            exit 1
          fi
      - name: update-client-secret
        run: |
          MERCHANT_STACK_OUTPUTS=$(aws cloudformation describe-stacks --stack-name $MERCHANT_STACK --region eu-north-1 \
            --query "Stacks[0].Outputs")

          LAMBDAS=$(echo $MERCHANT_STACK_OUTPUTS | jq -r '.[] |  select(.OutputKey=="Lambdas").OutputValue')
          REST_API_URL=$(echo $MERCHANT_STACK_OUTPUTS | jq -r '.[] |  select(.OutputKey=="RestAPIURL").OutputValue')
 
          WEBAPP_BUCKET=$(aws cloudformation describe-stacks --stack-name $WEBAPP_STACK --query \
            "Stacks[0].Outputs[?OutputKey=='WebAppBucket'].OutputValue" \
            --output text --region eu-north-1)

          gh secret set LAMBDAS --repo Koji-Sunioj/trading-grid --body "$LAMBDAS"
          gh secret set REST_API_URL --repo Koji-Sunioj/trading-grid --body "$REST_API_URL"
          gh secret set WEBAPP_BUCKET --repo Koji-Sunioj/trading-grid --body "$WEBAPP_BUCKET"
      - name: create-cognito-user
        run: | 
          USER_POOL_ID=$(aws cloudformation describe-stacks --stack-name --region eu-north-1 \
            $MERCHANT_STACK --query "Stacks[0].Outputs[?OutputKey=='UserPoolID'].OutputValue" --output text)

          IFS=, read -r USERNAME EMAIL PASSWORD  <<< $MERCHANT_USER

          aws cognito-idp admin-create-user --region eu-north-1 \
            --user-pool-id $USER_POOL_ID \
            --username $USERNAME \
            --user-attributes Name=email,Value=$EMAIL \
            Name=email_verified,Value=true --message-action SUPPRESS

          aws cognito-idp admin-set-user-password --region eu-north-1 \
            --user-pool-id $USER_POOL_ID \
            --username $USERNAME \
            --password $PASSWORD \
            --permanent

